a {
  display: block;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img.top-banner {
  width: 100%;
  vertical-align: top;
}

.description {
  padding-top: 24px;
  padding-bottom: 48px;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  margin-left: 24px;
  margin-right: 24px;
}

.section-header {
  font-family: "Alfa Slab One", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 24px;
}

.section-bottom-btn {
  box-sizing: border-box;
  width: 295px;
  height: 56px;
  border: 1.5px solid #161A1C;
  border-radius: 8px;
  margin-top: 32px;
  margin-bottom: 24px;
}


.section-bottom-btn a {
  font-family: "Alfa Slab One", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #111111;
}


.last-call-btn {
  box-sizing: border-box;
  width: 295px;
  height: 56px;
  border: 1.5px solid #161A1C;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 80px;
  background-color: #161A1C;
}

.last-call-btn a {
  font-family: "Alfa Slab One", sans-serif;
  /* text-transform: uppercase; */
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #f0f5f7;
}


.footer {
  padding: 32px 24px 64px;
  gap: 12px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  background-color: #8a9399;
  color: #f0f5f7;
}

.footer p {
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.1px;

  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 26px;
  color: #f7fafc;
}

.gallery {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 0px;
  overflow: hidden;
}

.gallery__img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
  border: 2px solid white;
}


.first-image {
  border-radius: 10% 0 0 0;
}

.last-image {
  border-radius: 0 10% 0 0;
}

section:nth-child(1) { grid-column: 1 / 5; grid-row: 1; z-index: 1; }
section:nth-child(2) { grid-column: 3 / 7; grid-row: 1; z-index: 2; }
section:nth-child(3) { grid-column: 5 / 9; grid-row: 1; z-index: 3; }
section:nth-child(4) { grid-column: 7 / 11; grid-row: 1; z-index: 4; }
section:nth-child(5) { grid-column: 9 / 13; grid-row: 1; z-index: 5; }


.shop-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 12%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 10px 22px 0px rgba(0, 0, 0, 0.15);

}


img.shop-avatar {
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 20%;
  border: 3px solid white;
}

.shop-name {
  color: #111111;
  position: absolute;
  bottom: 10%;
  left: 27%;
  margin: 0;
  font-family: Alfa Slab One;
  font-size: 5vw;
  width: 30%;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;

}


img.shop-product {
  border-radius: 20px 20px 0 0;
  box-sizing: "border-box";
  overflow: "hidden";        
  width: 100%;
}
